.dashboard-container {
  min-height: calc(100vh - 250px);
}

.project-filter {
  margin: 30px auto;
}
.project-filter nav {
  display: flex;
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
}

.project-filter p {
  margin-right: 10px;
  color: var(--text-color);
  font-size: 0.9em;
}

.project-filter button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  border-right: 1px solid var(--highlight-color);
  font-size: 0.9em;
  padding-inline: 15px;
}

.project-filter button:last-child {
  border: 0;
}

.project-filter button.active {
  color: var(--background-color);
  background-color: var(--heading-color);
}

@media (max-width: 610px) {
  .project-filter nav {
    flex-wrap: wrap;
  }
}
